---
import Layout from '@src/layouts/Layout.astro';
import NoTranslate from '@src/components/NoTranslate.astro';
import Card from '@src/components/Card.astro';
---

<Layout title="Serial Validation">
    <hgroup>
        <h1>Serial Validation</h1>
        <p><NoTranslate>MTA</NoTranslate> was unable to validate your serial.</p>
    </hgroup>

    <Card>
        <h2>Microsoft Windows</h2>

        <ol>
            <li>Install and run MTA outside of any Virtual Machine.</li>
            <li>Retry MTA inside the Virtual Machine.</li>
        </ol>
    </Card>

    <Card>
        <h2>Linux</h2>

        <ol>
            <li>
                Install and run the <a href="https://wiki.multitheftauto.com/wiki/Installing_and_Running_MTASA_Server_on_GNU_Linux">Linux MTA server</a> (as root) outside of any Virtual Machine.
            </li>
            <li>
                Retry MTA client inside the Virtual Machine.
            </li>
        </ol>
    </Card>

    <Card>
        <h2>Apple macOS</h2>

        <ol>
            <li>
                <a href="https://nightly.multitheftauto.com/files/osx/OSXMTATool.zip">Download and run this file<a/> on your Mac outside of any Virtual Machine<br />
                (If OS X refues to run the tool, open System Preferences, then click Security & Privacy, then click the “Open Anyway” button)
            </li>
            <li>
                Retry MTA inside the Virtual Machine.
            </li>
        </ol>
    </Card>
</Layout>
