---
import fs from 'node:fs';
import Card from '@src/components/Card.astro';
import NoTranslate from '@src/components/NoTranslate.astro';
import Layout from '@src/layouts/Layout.astro';

const troublePages = 
    fs.readdirSync('src/pages/sa/trouble')
      .filter(file => file !== 'index.astro')
      .map(file => file.replace('.astro', ''));
---

<Layout title="Home">
    <hgroup>
        <h1><NoTranslate>MTA:SA</NoTranslate> Help</h1>
        <p>This page is only for demonstration purposes.</p>
    </hgroup>

    <Card>
        {
            troublePages.map(page => (
                <a href={`/sa/trouble/${page}/`}>{page}</a><br />
            ))
        }
    </Card>
</Layout>
