---
import { Icon } from '@astrojs/starlight/components';

type Props = Parameters<typeof Icon>[0];
---

<div class="mta-inline-icon">
    <Icon {...Astro.props} />
</div>

<style is:global>
    h3:has(.mta-inline-icon) {
        display: flex;
        gap: 1rem;
    }
</style>

<style>
    div {
        display: inline-block;
    }
</style>
